---
authors:
  - brad-czerniak
#categories: ["one", "two"]
#date: 2020-03-03 02:02:02
front: true
#hero_classes: "background-color--main-dark color--white"
menus:
#  copyright: 1
  footer: 1
  main: 1
#  utility: 1
meta:
  description: "Michigan Drupal and JAMstack development + consultation."
#  image:
#    alt: "Default social image"
#    src: required/meta-image--default.jpg
#  robots: "index,follow"
#  title: "Overrides the tab title and social titles"
#permalink: /index.html
#published: true
redirect_from:
  - /home
#schema:
#  type: "Thing"
sections:
  - freshness
  - cta
  - mailchimp
#sitemap: true
#tags: ["three", "four"]
title: "Home"
---

<section class="layout--stripe background-color--third-light background-image--hero-home background-size--cover
  color--third-dark text-align--center background-image-display-mobile--hide" id="home">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Better, faster, cheaper Drupal websites"
      classes=""
      level="1"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="display--flex layout--row justify-content--center">
      <aside class="display--flex flex-direction--column justify-content--center">
        <p class="font-size--2em">
          Let's not sugar-coat it: other agencies are ripping you off.
        </p>
      </aside>
    </div>
  </div>
</section>

<section class="layout--strip background-color--third-light color--third-dark text-align--center">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Early call to action"
      classes="a11y--visually-hidden"
      level="2"
    %}

    <p>
      <strong>Want to skip the hard sell?</strong> Call/text Brad at <a href="tel:+13135097214">(313) 509-7214</a> or email
      <a href="mailto:brad@solveitonce.com">brad@solveitonce.com</a>
    </p>
  </div>
</section>

<section class="layout--stripe text-align--center">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Always delivering working software"
      classes="color--main-dark"
      level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="display--flex layout--row justify-content--center">
      <aside class="display--flex flex-direction--column justify-content--flex-start text-align--left padding-horizontal--8-
        padding-horizontal--collapse">
        {% include atoms/heading.html
          children="Yesteryear agencies"
          classes="heading--h4 color--second"
          level="3"
        %}

        <ol>
          <li>For the first months do you get <em>email attachments</em>, not a website?</li>
          <li>If you cancel 10% in, do you get a website at all?</li>
          <li>Do you get old-fashioned page templates instead of components?</li>
          <li>Did the designer say your brand is 'coy' or other nonsense?</li>
        </ol>
      </aside>

      <aside class="display--flex flex-direction--column justify-content--flex-start text-align--left padding-horizontal--8
        padding-horizontal--collapse">
        {% include atoms/heading.html
          children="Solve it once"
          classes="heading--h4 color--third"
          level="3"
        %}

        <ol>
          <li>Within days you can log in to your new website</li>
          <li>You can commit to bite-size sprints, and walk away at any time with a working site</li>
          <li>It's <strong>good</strong> to refine components instead of whole pages!</li>
          <li>Writing is clear, direct, and at a fifth grade level</li>
        </ol>
      </aside>
    </div>

    {% include atoms/spacer.html size="4" %}

    <p>
      <strong>How can we stay small and make big promises?</strong> We stick to <a href="https://agilemanifesto.org/">agile
      principles</a> and <br /><a href="https://www.frostdrupal.com/">use past success as our starting point</a>.
    </p>

    {% include atoms/spacer.html size="4" %}

    <a class="button cta" href="{{ site.subpath }}{% link collections/pages/products.html %}">Shop now</a>
  </div>
</section>
