---
authors:
  - brad-czerniak
#categories: ["one", "two"]
#date: 2020-03-03 02:02:02
front: true
#hero_classes: "background-color--main-dark color--white"
menus:
#  copyright: 1
  footer: 1
  main: 1
#  utility: 1
meta:
  description: "Brad Czerniak and Shelby Hassell (nee Sleete) are getting married in October in Michigan."
#  image:
#    alt: "Shelby and Brad among the stars" # It's okay for this to be empty if the image is decorative
#    src: required/meta-image--default.jpg
#  robots: "index,follow"
#  title: "Overrides the tab title and social titles"
#permalink: /index.html
#published: true
redirect_from:
  - /home
#schema:
#  type: "Thing"
sections:
  - cta
#sitemap: true
#tags: ["three", "four"]
title: "Home"
---

<section class="layout--stripe text-align--center background-image-display-mobile--hide" id="home">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Making our website so we can make yours"
      classes=""
      level="1"
    %}

    {% include atoms/spacer.html size="2" %}

    <div class="display--flex layout--row justify-content--center">
      <aside class="display--flex flex-direction--column justify-content--center">
        {% include atoms/image.html
          src="1200x630/workstation.jpg"
          alt="Where the magic happens"
          caption="Busy. Coding."
        %}

        {% include atoms/spacer.html size="1" %}

        <p class="font-size--2em">
          Hey, we're <em>Solve it once</em>. Soon our website will show all the products and services we provide, and why
          you'll clearly want to choose us for your next web project.
        </p>

        {% include organisms/form.html
          mode="ref"
          slug="mailchimp"
        %}
      </aside>
    </div>
  </div>
</section>
