---
authors:
  - brad-czerniak
#categories: ["one", "two"]
#date: 2020-03-03 02:02:02
front: true
#hero_classes: "background-color--main-dark color--white"
menus:
#  copyright: 1
  footer: 1
  main: 1
#  utility: 1
meta:
  description: "Michigan Drupal and JAMstack development + consultation."
#  image:
#    alt: "Default social image"
#    src: required/meta-image--default.jpg
#  robots: "index,follow"
#  title: "Overrides the tab title and social titles"
#permalink: /index.html
#published: true
redirect_from:
  - /home
#schema:
#  type: "Thing"
sections:
  - freshness
  - cta
  - mailchimp
#sitemap: true
#tags: ["three", "four"]
title: "Home"
---

<section class="layout--stripe background-color--second-light background-image--hero-home background-size--cover
  color--third-dark text-align--center background-image-display-mobile--hide" id="home">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Better, faster, cheaper Drupal websites"
      classes=""
      level="1"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="display--flex layout--row justify-content--center">
      <aside class="display--flex flex-direction--column justify-content--center">
        <p class="font-size--2em">
          Let's not sugar-coat it: other agencies are ripping you off.
        </p>
      </aside>
    </div>
  </div>
</section>

<section class="layout--strip background-color--third-light color--third-dark text-align--center">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Early call to action"
      classes="a11y--visually-hidden"
      level="2"
    %}

    <p>
      <strong>Want to skip the hard sell?</strong> Call/text Brad at <a href="tel:+13135097214">(313) 509-7214</a> or email
      <a href="mailto:brad@solveitonce.com">brad@solveitonce.com</a>
    </p>
  </div>
</section>

<section class="layout--stripe">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children=""
      classes="text-align--center"
      level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="display--flex layout--row justify-content--center">
      <aside class="display--flex flex-direction--column justify-content--center">
        <p>
          The headline and subtitle were meant to grab attention and get the visitor's interest. This section gives them
          a payoff, with a little bit of detail on what you offer and why the user should stay.
        </p>

        <p>
          Keep paragraphs short and breezy. There's plenty of site left to give details, prove your worth, and get your
          visitor to buy what you're selling.
        </p>

        <p>
          <a class="button cta" href="{{ site.subpath }}{% link collections/pages/about.html %}">More about us</a>
        </p>
      </aside>
    </div>
  </div>
</section>
