<section class="copyright layout--strip background-color--main-dark color--white font-size--p875em">
  <div class="layout--stripe--inner">
    <h2 class="a11y--visually-hidden">Copyright, license, and documentation</h2>

    <div>
      &copy; Copyright {{ site.time | date: '%Y' }} {{ site.primary_author }}.
      {% if site.content_license %}
        Content is available under the
        <a itemprop="license" href="{{ site.content_license.url }}">
          {% if site.content_license.icon.symbol %}
            {% include atoms/icon.html
              library=site.content_license.icon.library
              symbol=site.content_license.icon.symbol
            %}
          {% endif %}
          {{ site.content_license.name }}
        </a>.
      {% endif %}
      {% if site.github.repository_url and site.github.license.url %}
        <a href="{{ site.github.repository_url }}">
          {% include atoms/icon.html
            library="octicons"
            symbol="mark-github"
          %}
          Code
        </a>
        is subject to the <a href="{{ site.github.license.url }}" itemprop="license">{{ site.github.license.name }}</a>.
      {% endif %}
    </div>
    {% include molecules/menu.html menu="copyright" classes="border-spaced display--flex layout--row menu-layout--horizontal" %}
  </div>
</section>
