---
# Frontmatter note: Liquid tags used for imports.
# Do not add layout: compress to this front-matter, as it will work locally and fail on gh-pages
---

/**
 * While we set our woff2 files to preload in the <head>, formally declaring their url calls early is a performance boost.
 *
 * See _config.yml woff for preload settings in _includes/head/head.html
 */
{% include_relative font-face.css %}

/**
 * CSS Custom properties for colors and other variables.
 *
 * Configuration is within _config.yml for the coming-soon kit (other kits use full-featured JSON design tokens).
 */
:root {
  /* Plain defaults. */
  --border--default: 1px solid;
  --border-radius--default: 2px;
  --box-shadow--default: 0 0 3px rgba(0,0,0,.5);
  --font-family--input: 'Public Sans', Arial, Helvetica, sans-serif;
  --font-family--monospace: 'courier new', courier, monospace;
  --font-family--primary: 'Public Sans', Arial, Helvetica, sans-serif;
  --font-family--secondary: 'Emberly', Times New Roman, serif;
  --layout--content-area: 1280px;
  --line-height--default: 1.425;
  --line-height--heading: 1;
  --spacing--single: 0.625rem;
  --text-shadow--default: 0 0 2px rgba(0,0,0,.5);
  --transition--default: all .3s ease-in;

  /* Main theme colors. */
  --color--black: #222;
  --color--grey-dark: #555;
  --color--grey: #aaa;
  --color--grey-light: #f7f7f7;
  --color--white: #fff;
  --color--main: #0081a7;
  --color--main-dark: #002733;
  --color--main-light: #ccf4ff;
  --color--second: #f07167;
  --color--second-dark: #331716;
  --color--second-light: #ffcfcc;
  --color--third: #00afb9;
  --color--third-dark: #003033;
  --color--third-light: #ccfcff;
  --color--accent: #6100a7;
}

/**
 * Include the main partials in useful specificity order.
 *
 * theme--base.css is tag-level, so first.
 * Then the utilities
 * The theme files containing classes and higher.
 */
{% include_relative theme/theme--base.css %}

{% include_relative utility/property--value.css %}
{% include_relative utility/utility--animation.css %}
{% include_relative utility/utility--color.css %}
{% include_relative utility/utility--classes.css %}
{% include_relative utility/utility--typography.css %}
{% include_relative utility/utility--layout.css %}
{% include_relative utility/utility--spacing.css %}

{% include_relative theme/theme--pygments.css %}
{% include_relative theme/theme--classes.css %}
{% include_relative theme/theme--shame.css %}

/**
 * Include a print stylesheet that hides the boring stuff.
 */
@media print {
  {% include_relative print.css %}
}
