---
# Frontmatter note: Liquid tags used for imports.
# Do not add layout: compress to this front-matter, as it will work locally and fail on gh-pages
---

/**
 * While we set our woff2 files to preload in the <head>, formally declaring their url calls early is a performance boost.
 *
 * See _config.yml woff for preload settings in _includes/head/head.html
 */
{% include_relative font-face.css %}

/**
 * CSS Custom properties for colors and other variables.
 *
 * Configuration is within _config.yml for the coming-soon kit (other kits use full-featured JSON design tokens).
 */
:root {
  /* Plain defaults. */
  --border--default: {{ site.data.css.border--default }};
  --border-radius--default: {{ site.data.css.border-radius--default }};
  --box-shadow--default: {{ site.data.css.box-shadow--default }};
  --font-family--input: {{ site.data.css.font-family--input }};
  --font-family--monospace: {{ site.data.css.font-family--monospace }};
  --font-family--primary: {{ site.data.css.font-family--primary }};
  --font-family--secondary: {{ site.data.css.font-family--secondary }};
  --layout--content-area: {{ site.data.css.layout--content-area }};
  --line-height--default: {{ site.data.css.line-height--default }};
  --line-height--heading: {{ site.data.css.line-height--heading }};
  --spacing--single: {{ site.data.css.spacing--single }};
  --text-shadow--default: {{ site.data.css.text-shadow--default }};
  --transition--default: {{ site.data.css.transition--default }};

  /* Main theme colors. */
  --color--black: {{ site.data.css.color.black }};
  --color--grey-dark: {{ site.data.css.color.grey-dark }};
  --color--grey: {{ site.data.css.color.grey }};
  --color--grey-light: {{ site.data.css.color.grey-light }};
  --color--white: {{ site.data.css.color.white }};
  --color--main: {{ site.data.css.color.main }};
  --color--main-dark: {{ site.data.css.color.main-dark }};
  --color--main-light: {{ site.data.css.color.main-light }};
  --color--second: {{ site.data.css.color.second }};
  --color--second-dark: {{ site.data.css.color.second-dark }};
  --color--second-light: {{ site.data.css.color.second-light }};
  --color--third: {{ site.data.css.color.third }};
  --color--third-dark: {{ site.data.css.color.third-dark }};
  --color--third-light: {{ site.data.css.color.third-light }};
  --color--accent: {{ site.data.css.color.accent }};
}

/**
 * Include the main partials in useful specificity order.
 *
 * theme--base.css is tag-level, so first.
 * Then the utilities
 * The theme files containing classes and higher.
 */
{% include_relative theme/theme--base.css %}

{% include_relative utility/property--value.css %}
{% include_relative utility/utility--animation.css %}
{% include_relative utility/utility--color.css %}
{% include_relative utility/utility--classes.css %}
{% include_relative utility/utility--typography.css %}
{% include_relative utility/utility--layout.css %}
{% include_relative utility/utility--spacing.css %}

{% include_relative theme/theme--pygments.css %}
{% include_relative theme/theme--classes.css %}
{% include_relative theme/theme--shame.css %}

/**
 * Include a print stylesheet that hides the boring stuff.
 */
@media print {
  {% include_relative print.css %}
}
